
body 
{
    background-size: cover;
    background-position: center;
    text-align: center;
}

.heading 
{
    width: 100%;
    text-align: left;
    font-size: 25px;
}

.heading button 
{
    float: right;
    border: 1px solid white;
    font-size: 18px;
}

.big_img 
{
    width: 100%;
}

#start, #status, #restart
{
    font-size: 20px;
}

canvas 
{
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 3px 3px 3px lightblue;
}

.modal-dialog 
{
    width: 90%;
}

.instruction_image 
{
    display: inline-block;
    width: 45%;
}

.modal-body 
{
    text-align: left;
    font-size: 25px;
}

.copy_right_footer
{
    position: fixed;
    background-color: green;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 2;
    bottom: 0;
}

h4
{
    font-size: 35px;
}